body {
  background-color: #EAF6F6;
}

hr {
  border-color: white;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 6px;
  width: 5%;
}

img {
  width: 200px;
}

h2 {
  color: #66BFBF;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
